
header {
    margin: 0 auto;
    text-align: center;
}

.header-title {
    padding: 20px;
    font-size: 34px;
    font-family: "Lato Light";
}

.header-title > i {
    font-size: 16px !important;
}

.menu-options {
    display: inline-block;
    width: 200px;
    line-height: 60px;
    list-style-type: none;
    font-family: "Lato Light";
    font-size: 20px;
    cursor: pointer;
}

.menu-options:hover {
    background: rgba(180,180,180,.5);
    color: rgba(255,255,255,.9);
}

.selected-menu {
    background: rgba(180,180,180,.5);
    color: #ffffff;
}

.unicornUi-github {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: "Lato Light";
}

.unicornUi-github i {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}