
.input-mega-wrapper {
    margin: 20px auto;
    text-align: center;
}

.input-wrapper {
    padding: 1px;
    transition: .3s;
}

.input-dft-wrapper {
    padding-left: 20px;
    text-align: left;
    font-family: "Lato Light";
}

.input-dft-icon {
    width: 10%;
}

.input-dft-search {
    width: 69%;
}

.input-dft-btn {
    width: 20%;
    text-align: right;
}

.input-std {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.input-std > i {
    line-height: 52px;
    margin-right: 4px;
    font-size: 41px;
}

.input-dft-search > input,
.input-dft-btn > button {
    border: none;
}

.input-dft-search > input{
    width: 90%;
    height: 52px;
    padding-left: 4px;
    font-size: 34px;
}

.input-dft-btn > button {
    width: 100%;
    height: 56px;
    padding: 0 20px;
    font-size: 22px;
    transition: .2s;
}

/*.input-wrapper:hover {*/
    /*background: #7f8c8d;*/
/*}*/

.input-dft-search > input:focus {
    outline: none;
}

.search-results-wrapper {
    height: 0;
    background: rgba(160,160,160,.15);
    transition: .4s;
}

.disable {
    cursor: not-allowed;
}





/*GREY STYLE*/

/*Apply to input-wrapper*/
.grey-b-input-wrapper {
    border: 1px solid #bdc3c7;
}

/*Apply to input-dft-wrapper*/
.white-bg {
    background: #ffffff;
}

/*Apply to input-std > i AND input-dft-search > input*/
.grey-cl {
    color: #bdc3c7;
}

/*Apply to input-dft-btn > button*/
.grey-bg {
    background: #bdc3c7;
}
.white-cl {
    color: #ffffff;
}

/*Apply to input-wrapper:hover*/
.input-grey-hover {
    background: #7f8c8d;
}

.grey-btn-active {
    background: #7f8c8d;
}

/*SUNSET STYLE*/

/*Apply to input-wrapper*/
.sunset-b-input-wrapper {
    border: 1px solid #d35400;
}

/*Apply to input-dft-wrapper*/
.white-bg {
    background: #ffffff;
}

/*Apply to input-std > i AND input-dft-search > input*/
.sunset-cl {
    color: #d35400;
}

/*Apply to input-dft-btn > button*/
.sunset-bg {
    background: #e67e22;
}

.white-cl {
    color: #ffffff;
}

/*Apply to input-wrapper:hover*/
.input-sunset-hover {
    background: #d35400;
}

.sunset-btn-active {
    background: #d35400;
}


/*BLUE LAGOON STYLE*/

/*Apply to input-wrapper*/
.blue-lagoon-b-input-wrapper {
    border: 1px solid #2980b9;
}

/*Apply to input-dft-wrapper*/
.white-bg {
    background: #ffffff;
}

/*Apply to input-std > i AND input-dft-search > input*/
.blue-lagoon-cl {
    color: #2980b9;
}

/*Apply to input-dft-btn > button*/
.blue-lagoon-bg {
    background: #3498db;
}
.white-cl {
    color: #ffffff;
}

/*Apply to input-wrapper:hover*/
.input-blue-lagoon-hover {
    background: #2980b9;
}

.blue-lagoon-btn-active {
    background: #2980b9;
}



/*BLOODY STYLE*/

/*Apply to input-wrapper*/
.bloody-b-input-wrapper {
    border: 1px solid #c0392b;
}

/*Apply to input-dft-wrapper*/
.white-bg {
    background: #ffffff;
}

/*Apply to input-std > i AND input-dft-search > input*/
.bloody-cl {
    color: #c0392b;
}

/*Apply to input-dft-btn > button*/
.bloody-bg {
    background: #c0392b;
}
.white-cl {
    color: #ffffff;
}

/*Apply to input-wrapper:hover*/
.input-bloody-hover {
    background: #c0392b;
}

.bloody-btn-active {
    background: rgb(255,57,43);
}

/* SMALL SCREEN BTN BEHAVIOR */
.BtnWrapperXsScreens {
    display: block;
    width: 100%;
    margin: 4px auto;
}

.blockButton {
}